GQTwitterFollowers/Files/Mapping.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="ArrayOfUser">
<xsd:complexType>
  <xsd:sequence>

<xsd:element name="User">
<xsd:complexType>
  <xsd:sequence>
    <xsd:element name="ScreenName" type="xsd:string"/>
    <xsd:element name="ProfileImage" type="xsd:string"/>
    <xsd:element name="UserId" type="xsd:int"/>
  </xsd:sequence>
</xsd:complexType>
</xsd:element>
  </xsd:sequence>
</xsd:complexType>
</xsd:element>

</xsd:schema>